.dark-btn {
  margin-top: 10px !important;
  margin-right: 20px !important;
  /* margin: 20px !important; */
  font-size: large !important;
}

.nav-color {
  background-color: #121212 !important;
}

.value {
}

.section {
  border-radius: 5px !important;
  padding: 20px !important;
}
